<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shomazzapp.walls">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- android
     android:debuggable="false"-->
    <application
        android:name="com.shomazzapp.vavilonWalls.Utils.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Vavilon Walls"
        android:supportsRtl="true"
        android:theme="@style/TranscluentTheme">
        <activity
            android:name="com.shomazzapp.vavilonWalls.View.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VK.Transparent" />
        <!--<activity
            android:name="com.shomazzapp.vavilonWalls.View.WallpaperActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_wallpaper"
            android:screenOrientation="portrait"
            android:theme="@style/TranscluentTheme" />-->
    </application>

</manifest>